ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}

.form-horizontal .checkbox.graph-checkbox {
    padding-top: 0;
}

.checkbox.graph-checkbox label, .radio label {
    padding-left: 0;
}

.checkbox span {
    padding-top: 2px;
    padding-left: 8px;
    float: right;
}

.statistics-icheck-helper {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}